<div class="background4 lighten">
<div class="forms-container container">
  <h2><%=@party.name%></h2>
  <div class="row">

    <div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Details</h3>
          <% if host?(@party) %>
          <%= link_to 'Edit Your Info', edit_party_path(@party) %> |
          <%= link_to 'Cancel Your Party', @party, method: :delete%>
          <% end %>
        </div>
        <div class="panel-body">
          <table class="table">
            <tr>
              <th>Location</th>
              <td><%=@party.location%></td>
            </tr>
            <tr>
              <th>Date & Time</th>
              <td><%=@party.date.strftime("%m/%d/%Y at %l:%M %p")%></td>
            </tr>
            <tr>
              <th>Hosted By:</th>
              <td><%=@party.host.full_name%></td>
            </tr>

            <tr>
              <th> Description: </th>
              <td><%=@party.description%></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Map</h3>
        </div>
        <div class="panel-body">


          <iframe
            width= 100% height="450" frameborder="0" style="border:0" src='<%= "https://www.google.com/maps/embed/v1/place?key=#{ENV['MAP_KEY']}&q=#{@location}"%>'>
          </iframe>

        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-md-4">
      <div class="row">

        <div class="col-md-12">
          <div class="panel panel-info">
            <div class="panel-heading drinks-panel-heading">
              <h3 class="panel-title">Drinks</h3>
              <%= link_to 'Add More Drinks', (new_party_item_path(@party) if host?(@party)), class: "add-drinks-button"%>
              <%= form_for [@party, Item.new], html:{class: "add-drinks-form" } do |f| %>
                <%=f.text_field :name%>
                <%=f.hidden_field :category, value: "Drink" %>
                <%=f.submit "Add To List", class: "add-drinks-submit", data: { disable_with: false }%>
              <% end %>
            </div>
            <div class="panel-body">
              <table class="table">
                <% @party.drinks.reverse.each do |drink| %>
                  <%= render template: 'items/_item_added', locals: {item: drink, party: @party} %>
                <%end%>
              </table>
            </div>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-md-12">
          <div class="panel panel-info">
            <div class="panel-heading dish-panel-heading">
              <h3 class="panel-title">Dishes</h3>
              <%= link_to 'Add More Dishes', (new_party_item_path(@party) if host?(@party)), class: "add-dish-button" %>
              <%= form_for [@party, Item.new], html:{class: "add-dish-form" } do |f| %>
                <%=f.text_field :name%>
                <%=f.hidden_field :category, value: "Food" %>
                <%=f.submit "Add To List", class: "add-dish-submit", data: { disable_with: false } %>
              <% end %>
            </div>
            <div class="panel-body">
              <table class="table">
                <% @party.dishes.reverse.each do |dish|%>
                  <%= render template: 'items/_item_added', locals: {item: dish, party: @party} %>
                <%end%>
              </table>
            </div>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-md-12">
          <div class="panel panel-info">
            <div class="panel-heading supply-panel-heading">
              <h3 class="panel-title">Supplies</h3>
              <%= link_to 'Add More Supplies', (new_party_item_path(@party) if host?(@party)), class: "add-supply-button"%>
              <%= form_for [@party, Item.new], html:{class: "add-supply-form" } do |f| %>
                <%=f.text_field :name%>
                <%=f.hidden_field :category, value: "Supplies" %>
                <%=f.submit "Add To List", class: "add-supply-submit", data: { disable_with: false } %>
              <% end %>
            </div>
            <div class="panel-body">
              <table class="table">
                <% @party.supplies.reverse.each do |supply| %>
                  <%= render template: 'items/_item_added', locals: {item: supply, party: @party} %>
                <% end %>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>

  <div class="col-md-8">
    <div class="panel panel-info">
      <div class="panel-heading guest-panel-heading">
        <h3 class="panel-title">Guests</h3>
        <%= link_to 'Invite More Guests', (new_party_guest_path(@party)), class: "add-guest-button" if host?(@party)%>
        <div class="append-email-error"></div>
        <%= form_tag("/parties/#{@party.id}/guests", method: "post", class: "add-guest-form") do %>
          <%= label_tag(:email) %>
          <%= text_field_tag(:email) %>
          <%= submit_tag("Add Guest", data: { disable_with: false }) %>
        <% end %>
      </div>
      <div class="panel-body">
        <ul>
          <% @party.attendees.reverse.each do |guest| %>
            <%= render template: 'guests/_guest_added', locals: {guest: guest, party: @party} %>
          <%end%>
        </ul>

      </div>
    </div>

<% if @suggested_cocktails%>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Suggested Cocktails</h3>
      </div>
      <div class="panel-body">
        <% @suggested_cocktails.each do |cocktail|%>
            <div class="panel panel-info">
              <div class="panel-heading">
                <h4 class="panel-title"><%=cocktail["name"]%></h4>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-6">
                    <p><%=cocktail["descriptionPlain"]%></p>
                  </div>
                  <div class="col-xs-6">
                    <ul>
                      <%cocktail["ingredients"].each do |ingredient|%>
                        <li><%=ingredient["text"]%></li>
                      <%end%>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
        <%end%>
      </div>
    </div>
    <%end%>

      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Comments</h3>
        </div>
        <div class="panel-body">
          <%= form_for :comments, method:"post", url: "/parties/#{@party.id}/comments" do |f| %>
            <%= f.text_area :body, placeholder: 'Write a comment', rows: "4", style: 'width:100%;'%>
            <%= f.submit "Comment" %>
          <%end%>



        </div>
      </div>
      <% if @party.comments %>
      <% @party.comments.reverse.each do |comment| %>

      <div class="panel panel-info">
        <div class="panel-body">

              <p> <%= comment.body %></p>
              <ul><li><%= comment.guest.user.full_name%>
                posted at: <%= comment.format_time%> on <%= comment.format_date%></li></ul>

        </div>
      </div>

      <%end %>
      <%end%>

    </div>

  </div>

</div>
</div>
