<div class="background4 lighten">
<div class="forms-container container">
  <h2><%=@party.name%></h2>
  <div class="row">

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Details</h3>
          <% if host?(@party) %>
          <%= link_to 'Edit Your Info', edit_party_path(@party) %> |
          <%= link_to 'Cancel Your Party', @party, method: :delete%>
          <% end %>
        </div>
        <div class="panel-body">
          <table class="table">
            <tr>
              <th>Location</th>
              <td><%=@party.location%></td>
            </tr>
            <tr>
              <th>Date & Time</th>
              <td><%=@party.date.strftime("%m/%d/%Y at %l:%M %p")%></td>
            </tr>
            <tr>
              <th>Hosted By:</th>
              <td><%=@party.host.full_name%></td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Description</h3>
        </div>
        <div class="panel-body">
          <p><%=@party.description%></p>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-md-4">
      <div class="row">

        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Drinks</h3>
              <%= link_to 'Add More Drinks', new_party_item_path(@party) if host?(@party)%>
            </div>
            <div class="panel-body">
              <table class="table">
                <% @party.drinks.each do |drink| %>
                <tr>
                  <td><%=drink.name.capitalize %></td>
                  <%if drink.party_items.find_by(party: @party).list_items.none? %>
                  <td><%= button_to("Add To List", party_item_list_items_path(@party, drink))%></td>
                  <td><%= link_to 'X', party_item_path(@party, drink), method: :delete if host?(@party)%></td>
                  <% else %>
                  <td>Will be brought by: <%=drink.party_items.find_by(party: @party).list_items.first.guest.user.full_name%></td>
                  <%end%>
                </tr>
                <%end%>
              </table>
            </div>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Dishes</h3>
              <%= link_to 'Add More Dishes', new_party_item_path(@party) if host?(@party) %>
            </div>
            <div class="panel-body">
              <table class="table">
                <% @party.dishes.each do |dish|%>
                <tr>
                  <td><%=dish.name.capitalize%></td>
                  <%if dish.party_items.find_by(party: @party).list_items.none? %>
                  <td><%= button_to("Add To List", party_item_list_items_path(@party, dish))%></td>
                  <td><%= link_to 'X', party_item_path(@party, dish), method: :delete if host?(@party)%></td>
                  <% else %>
                  <td>Will be brought by: <%=dish.party_items.find_by(party: @party).list_items.first.guest.user.full_name%></td>
                  <%end%>
                </tr>
                <%end%>
              </table>
            </div>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Supplies</h3>
              <%= link_to 'Add More Supplies', new_party_item_path(@party) if host?(@party)%>
            </div>
            <div class="panel-body">
              <table class="table">
                <% @party.supplies.each do |supply| %>
                <tr>
                  <td><%=supply.name.capitalize%></td>
                  <%if supply.party_items.find_by(party: @party).list_items.none? %>
                  <td><%= button_to("Add To List", party_item_list_items_path(@party, supply))%></td>
                  <td><%= link_to 'X', party_item_path(@party, supply), method: :delete if host?(@party)%></td>
                  <% else %>
                  <td>Will be brought by: <%=supply.party_items.find_by(party: @party).list_items.first.guest.user.full_name%></td>
                  <%end%>
                </tr>
                <% end %>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>

  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Guests</h3>
        <%= link_to 'Invite More Guests', new_party_guest_path(@party) if host?(@party)%>
      </div>
      <div class="panel-body">
        <ul>
          <% @party.attendees.each do |guest| %>
              <li><%=guest.full_name%>     <%= link_to 'Uninvite', party_guest_path(@party, guest), method: :delete if host?(@party) && guest != @party.host%></li>
          <%end%>
        </ul>

      </div>
    </div>

<% if @suggested_cocktails%>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Suggested Cocktails</h3>
      </div>
      <div class="panel-body">
        <% @suggested_cocktails.each do |cocktail|%>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"><%=cocktail["name"]%></h4>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-6">
                    <p><%=cocktail["descriptionPlain"]%></p>
                  </div>
                  <div class="col-xs-6">
                    <ul>
                      <%cocktail["ingredients"].each do |ingredient|%>
                        <li><%=ingredient["text"]%></li>
                      <%end%>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
        <%end%>
      </div>
    </div>
    <%end%>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Comments</h3>
        </div>
        <div class="panel-body">
          <%= form_for :comments, method:"post", url: "/parties/#{@party.id}/comments" do |f| %>
            <%= f.text_area :body, placeholder: 'Write a comment', rows: "4", style: 'width:100%;'%>
            <%= f.submit %>
          <%end%>



        </div>
      </div>
      <% if @party.comments %>
      <% @party.comments.reverse.each do |comment| %>

      <div class="panel panel-default">
        <div class="panel-body">

              <p> - <%= comment.body %></p>
              <ul><li><%= comment.guest.user.full_name%>
                posted at: <%= comment.format_time%> on <%= comment.format_date%></li></ul>

        </div>
      </div>

      <%end %>
      <%end%>

    </div>

  </div>

</div>
</div>
