<div class="background4 lighten">
<div class="forms-container container">
  <h2><%=@party.name%></h2>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Details</h3>
          <% if host?(@party) %>
          <%= link_to 'Edit Your Info', edit_party_path(@party), id: "edit-details"%> |
          <%= link_to 'Cancel Your Party', @party, method: :delete, data: {confirm: "Are you sure?"}%>
          <% end %>
        </div>
        <div class="panel-body">
          <%= render :partial => "edit", locals: {party: @party} %>
          <%= render :partial => "details", locals: {party: @party} %>
        </div>
      </div>



      <div class="panel panel-info">
          <div class="panel-heading guest-panel-heading">
            <h3 class="panel-title">Guests</h3>
            <%= link_to 'Invite More Guests', (new_party_guest_path(@party)), class: "add-guest-button" if host?(@party)%>
            <div class="append-email-error"></div>
            <%= form_tag("/parties/#{@party.id}/guests", method: "post", class: "add-guest-form") do %>
              <%= label_tag(:email) %>
              <%= email_field_tag(:email) %>
              <%= submit_tag("Add Guest", data: { disable_with: false }) %>
            <% end %>
          </div>
          <div class="panel-body">
            <table class="table guest-list-table">
              <% @party.attendees.reverse.each do |guest| %>
                    <%= render template: 'guests/_guest_added', locals: {guest: guest, party: @party} %>
              <%end%>
            </table>

          </div>
        </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Map</h3>
          <a data-toggle="collapse" href="#collapse">(hide/show map)</a>
        </div>
        <div class="panel-body">

          <iframe id='collapse' class="panel-collapse collapse in"
            width= 100% height="450" frameborder="0" style="border:0" src='<%= "https://www.google.com/maps/embed/v1/place?key=#{ENV['MAP_KEY']}&q=#{@location}"%>'>
          </iframe>


        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-md-4">
      <div class="row">

        <div class="col-md-12">
          <div class="panel panel-info">
            <div class="panel-heading drinks-panel-heading">
              <h3 class="panel-title">Drinks</h3>
              <%= link_to 'Add More Drinks', (new_party_item_path(@party) ), class: "add-drinks-button" if host?(@party)%>
              <%= form_for [@party, Item.new], html:{class: "add-drinks-form animated" } do |f| %>
                <%=f.text_field :name%>
                <%=f.hidden_field :category, value: "Drink" %>
                <%=f.submit "Add To List", data: { disable_with: false }%>
              <% end %>
            </div>

            <div id="drinks-table" class="panel-body">
              <table class="table item-list-table">
                <% @party.drinks.reverse.each do |drink| %>
                <tr>
                  <%= render template: 'items/_item_added', locals: {item: drink, party: @party} %>
                </tr>
                <%end%>
              </table>
            </div>
          </div>
        </div>

      </div>


      <div class="row">

        <div class="col-md-12">
          <div class="panel panel-info">
            <div class="panel-heading dish-panel-heading">
              <h3 class="panel-title">Dishes</h3>
              <%= link_to 'Add More Dishes', (new_party_item_path(@party) ), class: "add-dish-button" if host?(@party)%>
              <%= form_for [@party, Item.new], html:{class: "add-dish-form" } do |f| %>
                <%=f.text_field :name%>
                <%=f.hidden_field :category, value: "Food" %>
                <%=f.submit "Add To List", class: "add-dish-submit", data: { disable_with: false } %>
              <% end %>
            </div>
            <div id="dish-table" class="panel-body">
              <table class="table item-list-table">
                <% @party.dishes.reverse.each do |dish|%>
                <tr>
                  <%= render template: 'items/_item_added', locals: {item: dish, party: @party} %>
                <tr>
                <%end%>
              </table>
            </div>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-md-12">
          <div class="panel panel-info">
            <div class="panel-heading supply-panel-heading">
              <h3 class="panel-title">Supplies</h3>
              <%= link_to 'Add More Supplies', (new_party_item_path(@party) ), class: "add-supply-button" if host?(@party)%>
              <%= form_for [@party, Item.new], html:{class: "add-supply-form" } do |f| %>
                <%=f.text_field :name%>
                <%=f.hidden_field :category, value: "Supplies" %>
                <%=f.submit "Add To List", class: "add-supply-submit", data: { disable_with: false } %>
              <% end %>
            </div>
            <div id="supply-table" class="panel-body">
              <table class="table item-list-table">
                <% @party.supplies.reverse.each do |supply| %>
                <tr>
                  <%= render template: 'items/_item_added', locals: {item: supply, party: @party} %>
                <tr>
                <% end %>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>




<div class="col-md-8">

<% if @suggested_cocktails%>
    <div class="panel panel-info cocktail-panel">
      <div class="panel-heading">
        <h3 class="panel-title">Suggested Cocktails</h3>
        <%=link_to "Shake For More Cocktail Ideas!", @party, class: "cocktail-refresh"%>
      </div>
      <div class="panel-body">
        <%= render template: 'parties/_cocktail_recipes', locals: {suggested_cocktails: @suggested_cocktails }%>
      </div>
    </div>
    <%end%>

      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Comments</h3>
        </div>
        <div class="panel-body">
          <%= form_for :comments, method:"post", url: "/parties/#{@party.id}/comments", html: {id: "add-comment"} do |f| %>
            <%= f.text_area :body, placeholder: 'Make a comment!', rows: "4", style: 'width:100%;'%>
            <%= f.submit "Comment", data: { disable_with: false } %>
          <%end%>

        </div>
      </div>

      <% if @party.comments %>
      <div id="comment-container">
      <% @party.comments.reverse.each do |comment| %>

      <%= render :partial => "./comments/comment", locals: {comment: comment} %>

      <%end %>
      </div>
      <%end%>

    </div>

  </div>

</div>
</div>
