
<div class="forms-container container">
  <h2>Welcome <%=@user.first_name.capitalize%>!</h2>
  <div class ="row">
    <div class = "col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">My Parties</h3>
          <%=link_to "Throw A Party", new_party_path%>
        </div>
        <div class="panel-body">
          <table class="table-striped table">
            <tr>
              <th>Party</th>
              <th>Date</th>
            </tr>
            <% @user.hosted_parties.each do |party|%>
            <tr>
              <td><%=link_to party.name, party%></td>
              <td><%=party.date%></td>
            </tr>
            <%end%>
          </table>
        </div>
        </div>
      </div>
    </div>

<div class="row">

  <div class = "col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Parties I'm Attending</h3>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <tr>
          <th>Party</th>
          <th>Date</th>
        </tr>
        <% @user.attended_parties.each do |party|%>
        <tr>
          <td><%=link_to party.name, party%></td>
          <td><%=party.date%></td>
        </tr>
        <%end%>
      </table>
    </div>
  </div>
  </div>


  <div class = "col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">My Shopping List</h3>
    </div>
    <div class="panel-body">

      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse1">Some Party</a>
            </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>

              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</div>

</div>
