<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">POPP'N</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                  <% if logged_in? %>
                    <li>
                      <a class="page-scroll" href="/users/show"><%=current_user.full_name%></a>
                    </li>
                    <li>
                      <a class="page-scroll" href="/logout">Log out</a>
                    </li>
                  <%else%>
                    <li>
                      <a class="page-scroll" href="/users/new">Register</a>
                    </li>
                    <li>
                      <a class="page-scroll" href="/sessions/new">Log in</a>
                    </li>
                  <%end%>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
      </nav>

    <%= yield %>
    <footer id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <hr class="primary">
                </div>
                <div class="col-lg-3 text-center">
                  <a class="github-link" href="https://github.com/AlexPersaud17">Alex Persaud</a></br>
                </div>
                <div class="col-lg-3 text-center">
                  <a class="github-link" href="https://github.com/louisgaeta1">Louis Gaeta</a></br>
                </div>
                <div class="col-lg-3 text-center">
                  <a class="github-link" href="https://github.com/theasteve">Steven Agulair</a></br>
                </div>
                <div class="col-lg-3 text-center">
                  <a class="github-link" href="https://github.com/richardykim">Richard Kim</a></br>
                </div>
            </div>
        </div>
    </footer>
  </body>
</html>
